@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-10 lg:px-16;
}

.container-full {
  @apply container !max-w-full;
}

.container-footer {
  @apply mx-4 mb-4 !max-w-full sm:mx-10 sm:mb-10 md:mb-16 lg:mx-16;
}

h1 {
  @apply text-2xl font-bold tracking-wide dark:text-light md:text-4xl lg:text-5xl;
}

h2 {
  @apply text-xl font-bold tracking-wide dark:text-light md:text-2xl lg:text-3xl;
}

p {
  @apply text-sm leading-relaxed md:text-lg lg:text-xl;
}

span {
  @apply dark:text-light;
}

.date {
  @apply inline-block w-full text-xs font-semibold capitalize text-gray  dark:text-light/50 sm:text-base;
}

h1 > a > .icon.icon-link:before,
h2 > a > .icon.icon-link:before,
h3 > a > .icon.icon-link:before {
  content: "#";
  font-size: 0.8rem;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7b00d3;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #7b00d3;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
